<nav class="navbar sticky-top navbar-dark bg-dark">
  <!-- Conteúdo do navbar -->
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <a class="navbar-brand" routerLink="home">
          <img
            src="assets/img/logo-sem-fundo-02.png"
            width="100"
            height="70"
            class="d-inline-block align-top"
            alt=""
          />
        </a>
        <h5 class="text-white">O melhor para o seu estabelecimento</h5>
        <span class="text-muted">Monitoramento 24h</span>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Alterna navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <nav class="navbar navbar-dark bg-dark" id="navbarMenu">
        <div class="menu" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="home"
                >Inicio <span class="sr-only">(Página atual)</span></a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Preços</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Desativado</a>
            </li>
          </ul>
        </div>
        <div class="logoText">
          <img
            src="assets/img/logo-sem-fundo-02.png"
            width="100"
            height="70"
            class="d-inline-block align-top"
            alt=""
          />
          <h1>Owl Monitoramento</h1>
        </div>
      </nav>
    </nav>
  </div>

  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Pesquisar"
      aria-label="Pesquisar"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Pesquisar
    </button>
  </form>
</nav>
