.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    border: none;
    background: rgba(10, 33, 107, 0.664);
  }

  .form-inline {
    
  }

  
  .imgLogo {
    width: 5%;
  }
  
  .logoText {
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    margin-left: 1rem;
  }
  
  .logoText img {
  
  
  
  }
  
  .logoText h1 {
    font-size: calc(20px + (24 - 12) * ((40vw - 150px) / (800 - 400)));
  
  }