<nav class="navbar sticky-top navbar-dark bg-dark ">
  <div class="logoText">
    <img
      src="assets/img/logo-sem-fundo-02.png"
      width="100"
      height="70"
      class="d-inline-block align-top"
      alt=""
    />
    <h1>Owl Monitoramento</h1>
  </div>
</nav>

<!--
<div class="header">
  <h2>Scroll Down</h2>
  <p>Scroll down to see the sticky effect.</p>
</div>

<nav class="navbar navbar-dark bg-dark">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <h5 class="text-white h4">Owl Monitoramento</h5>
        <span class="text-muted">O melhor para o seu patrimônio</span>
      </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</nav>

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
  }
-->

<!--<div class="bg-dark p-4">
        <a class="navbar-brand" routerLink="home">
          <img
            src="assets/img/logo-sem-fundo-02.png"
            width="100"
            height="70"
            class="d-inline-block align-top"
            alt=""
          />
        </a>
        <h5 class="text-white">O melhor para o seu estabelecimento</h5>
        <span class="text-muted">Monitoramento 24h</span>
      </div>
    

       <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Pesquisar"
      aria-label="Pesquisar"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Pesquisar
    </button>
  </form>
    
    -->
