<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio</title>
  </head>
  <body>
    <div class="titleTop">
      <div class="titleTop2">
        <section class="textTitleTop">
          <h1>Alarmes para Residências e Empresas</h1>
          <h3>com gravação de imagem em caso de tentativa de roubo</h3>
        </section>
      </div>

      <div class="titleInformativo">
        <h1>Proteja sua residência ou empresa com Alarme Owl Monitoramento</h1>
      </div>
      <section class="textInformativo">
        <h1>Você mais seguro</h1>
      </section>
    </div>

    <div class="informativo">
    </div>
  </body>
</html>
