.div1 {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin-top: 5rem;
}

.img1 {
  width: 40%;
  height: 70%;
  object-fit: contain;
  box-shadow: 0rem 0.2rem 0.8rem 0.1rem rgb(105, 105, 105);
  margin-left: 5rem;
}

.divText1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 100%;
}

#divText1 {
  margin-top: 2rem;
  margin-left: 2rem;
  color: rgb(0, 0, 0);
  font-size: 1000px;
  font-size: clamp(1em, 1em + 1vw, 1.5em);
  word-break: break-word;
}

